<div id="tour-guide-wrapper">
  <div class="container">
    <!-- <img class="profile-image" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan"> -->
    <div class="row">
      <div class="col-xs-9">
        <div class="tour">
          <h2 id="tour-guide-name">Tour Guide Name</h2>
          <p><%= guide.age %> years old | Tour Guide city</p>
        </div>

        <div class="interests">
          <h2>Interests</h2>
        </div>

        <div class="about-me">
          <h3>About Me</h3>
          <p><%= guide.description %></p>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Offered Tours -->
      <div class="offered-tours-div">
        <p id="offered-tours-heading"><b>OFFERED TOURS</b></p>
        <div class="col-xs-1">
          <img>
        </div>
        <div class="col-xs-9">
          <div class="offered-tours-content">
            <% guide.tours.each do |tour| %>
            <p><%= link_to tour.description, tour_path(tour) %></p>
            <p>tour description</p>
            <% end %>
          </div>
        </div>
        <div class="col-xs-2">
          <% guide.tours.each do |tour| %>
            <a href="#" class="btn btn-success">See more details</a>
          <% end %>
        </div>
      <div>
    </div>
  </div>
</div>
