<h1></h1>
<ul>
  <li><a href="#" class="item">Interests <i class="fa fa-chevron-down"></i></a>
    <span class="accent"></span>
    <ul class="drop-down">
      <li><a href="#">Music</a></li>
      <li><a href="#">Food & Drinks</a></li>
      <li><a href="#">Active</a></li>
      <li><a href="#">Museums</a></li>
    </ul>
  </li>
  <li><a href="#" class="item"># of persons <i class="fa fa-chevron-down"></i></a>
    <span class="accent"></span>
    <ul class="drop-down">
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
    </ul>
  </li>
  <li><a href="#" class="item">Price <i class="fa fa-chevron-down"></i></a>
    <span class="accent"></span>
    <ul class="drop-down">
      <li><a href="#">Free</a></li>
      <li><a href="#">$10 & under</a></li>
      <li><a href="#">$50 & under</a></li>
      <li><a href="#">$100 & under</a></li>
    </ul>
  </li>
</ul>
