<ul>


  <li><a href="#" class="item">Interests <i class="fa fa-chevron-down"></i></a>
    <span class="accent"></span>
    <ul class="drop-down">
      <% Interest.all.each do |interest| %>
        <li><a href="#">  <%= interest.name %></a></li>
      <% end %>
    </ul>
  </li>
  <li><a href="#" class="item">N. of people <i class="fa fa-chevron-down"></i></a>
    <span class="accent"></span>
    <ul class="drop-down">
      <% count = 1 %>
      <% 5.times do |count| %>
        <li><a href="#"><%= count + 1%></a></li>
      <% end %>
    </ul>
  </li>
  <li><a href="#" class="item">Price <i class="fa fa-chevron-down"></i></a>
    <span class="accent"></span>
    <ul class="drop-down">
      <li><a href="#">Free</a></li>
      <li><a href="#">up to $10</a></li>
      <li><a href="#">up to $50</a></li>
      <li><a href="#">up to $100</a></li>
    </ul>
  </li>
</ul>
