
<!-- for testing purposes -->


<h1>All tour guides</h1>
<ol>
<% @guides.each do |guide| %>
<li>
<%= link_to guide.first_name, profile_path(guide) %>
</li>
<% end %>
</ol>



<div class="container">
  <div class="tour-guide-description">
    <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
    <div class="tour-guide-info">
      <h1>Garret Smith</h1>
      <p>27 years old | Berlin </p>
    </div>

    <div class="tour-guide-interest">
      <h2>Interests</h2>
      <div class="row-icons">
        <ul>
          <li>Icon 1</li>
          <li>Icon 2</li>
          <li>Icon 3</li>
        </ul>

      </div>
    </div>

    <div class="tour-guide-about-me">
      <h2>About Me</h2>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </div>
  </div>

  <div class="offered-tours">
    <div class="tour">
      <img class="activity-image" src="#">
        <div class="tour-body">
          <h3>Tour name</h3>
          <p>Tour description</p>
        </div>
        <div class="tour-details">
          <a href="#" class="btn-treehouse">See more for details</a>
        </div>

    </div>
  </div>

</div>
