
<!-- for testing purposes -->
<!-- filtered navigation bar -->


<ol>
<% @guides.each do |guide| %>
<li>
<%= link_to guide.first_name, profile_path(guide) %>
</li>
<% end %>
</ol>

<!-- Tour Guide Profile -->

<!-- Offered Tours -->
<div class="tour-container">
  <div class="tour-row">
    <h3>Tour name</h3>
    <h4>Star rating</h4>
    <p>Short description</p>
    <button class="btn-btn-primary">see details</button>
  </div>
  <div class="tour-row">
    <h3>Description</h3>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
  </div>

  <div class="maps">
    <p>Add map here</p>
  </div>

  <div class="calender">
    <p>Insert Calender</p>
    <button>Send Request to Join the Tour</button>
  </div>

  <div class="reviews">
    <p>Insert reviews</p>
  </div>

</div>

