
<!-- for testing purposes -->
<!-- filtered navigation bar -->


<div class="container">
	<h1>These are your Tour guides</h1>
	<div class="row">
		<div class="carousel slide multi-item-carousel" id="theCarousel">
			<div class="carousel-inner">

				<% @guides.each_with_index do |guide, index| %>
				<div class="item <%= "active" if index == 0 %>">
					<div class="col-xs-4">

						<%= link_to guide.first_name, profile_path(guide), class: "img-responsive" %>
						<img src="http://placehold.it/300/f44336/000000"/>

					</div>
				</div>
				<% end %>

			</div>
			<a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
			<a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
		</div>
	</div>
</div>






<br><br>
<ol>
	<% @guides.each do |guide| %>
	<li>
		<%= link_to guide.first_name, profile_path(guide) %>

		<ol>
			<% guide.tours.each do |tour| %>
			<li>
				<%= tour.description %>
			</li>
			<% end %>
		</ol>

	</li>
	<% end %>
</ol>

<!-- Tour Guide Profile -->


<!-- Offered Tours -->
<div class="tour-container">
  <div class="tour-row">
    <h3>Tour name</h3>
    <h4>Star rating</h4>
    <p>Short description</p>
    <button class="btn-btn-primary">see details</button>
  </div>
  <div class="tour-row">
    <h3>Description</h3>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
  </div>

  <div class="maps">
    <p>Add map here</p>
  </div>

  <div class="calender">
    <p>Insert Calender</p>
    <button>Send Request to Join the Tour</button>
  </div>

  <div class="reviews">
    <p>Insert reviews</p>
  </div>

</div>

