.pending-booking-header {
  margin: 20px 0px 20px 15px;
  color: #63bead;
}

.button-margin-left {
  margin-left: 20px;
}

.message-link:hover {
  text-decoration: none !important;
}

.message-link:hover > .booking-tab {
  background-color: #f9f9f9 !important;
}

.message-link:focus {
  text-decoration: none !important;
}

.message-avatar {
  border-radius: 50px;
  min-height: 50px;
  max-width: 50px;
}

.message-img {
  margin-right: 20px;
}

.booking-index {
  display: flex;
  font-family: "Open Sans", "Helvetica", "sans-serif";
  font-weight: lighter;
  font-size: 17px;
  color: #868686;
}

.booking-tab {
  padding: 0px 10px 0px 5px;
}

.booking-tab-active {
  border-bottom: 1px solid #d6d6d6;
  background-color: #f9f9f9;
  text-decoration: none;
}

.booking-content {
  text-decoration: none;
  font-size: 14px;

  p {
    margin-bottom: 8px;
  }
}

/* MESSAGES *******************************************************************/


.message-box {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 30px auto 80px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0px 4px 22px -6px rgba(0,0,0,0.17);

  h1 {
    padding: 20px;
    margin: 0;
    text-transform: uppercase;
    color: white;
    background: #56d1c8;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .messages-index {
    padding-bottom: 20px;
    width: 33.33333%;
    border-right: 1px solid #d6d6d6;

    h1 {
      border-radius: 4px 0 0 0;
    }

    .list-of-messages {
      height: 100%;
      max-height: 456px;
      overflow: scroll;

      .booking-tab {
        position: relative;
        padding: 10px 20px;
        border-bottom: 1px solid #f8f8f8;
      }
    }
  }

  .messages-content {
    width: 66.66666%;

    h1 {
      border-radius: 0 4px 0 0;
    }

    textarea {
      resize: none;
      border-radius: 2px 0 0 2px;
    }

    .messages {
      overflow-y: scroll;
      height: 100%;
      padding: 20px;
      min-height: 370px;
      max-height: 370px;
    }
  }
}

.message-content {
  // background-color: #F7F7F7;
  border-radius: 3px;
  padding: 5px 0px 15px 0px;
  font-family: "Open Sans", "Helvetica", "sans-serif";
  font-weight: lighter;
  font-size: 17px;
  color: #868686;
  height: 10vh;
}

.message-user {
  margin-right: 20px;
  font-size: 17px;
  color: #56d1c8;
}

.message-time {
  font-size: 12px;
  color: #868686;
  font-weight: lighter;
}

.message-body {
  display: flex;
  flex-direction: column;
}

#one-chat {
  border-radius: 0 4px 0 0;
}

.chat-header {
  margin: 20px 0px 20px 0px;
  color: #63bead;
}

.message {
  display: flex;
  margin-bottom: 15px;
  &.right {
    // flex-direction: row-reverse;
    border-bottom: 1px solid #f7f7f7;
  }
}

.message_content > textarea {
  height: 12vh !important;
}

.message_content > input {
  height: 5vh !important;
}

#create-message {
  position: relative;
  padding: 20px;
  background-color: #f8f8f8;
  border-top: 1px solid #d6d6d6;

  .fa-paper-plane {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
  }
}

#create-message > form {
  margin-top: 5px !important;
  // display: -webkit-box;
}

.send-btn {
  height: 100%;
  padding: 27px;
  border-radius: 0 2px 2px 0;
}

.message-grey {
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 15px;
}

.message-white {
  background-color: #51d8b3;
  border-radius: 5px;
  padding: 15px;
}

.pending {
  color: #da6868;
  font-weight: bolder;
}

.accepted {
  color: #69a96e;
  font-weight: bolder;
}

#message_content {
  border: 1px solid #dcdcdc;
}

#message_content:focus {
  outline: 0 !important;
}

.cancel-booking {
  position: absolute;
  top: 13px;
  right: 20px;
  font-size: 10px;
}

.cancel-booking a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #868686;
}

.cancel-booking a {
  color: #989898;
}

.booking-info-new {
  // color: #63bead !important;
  font-weight: bolder;
}

.original-message-heading {
  font-size: 18px;
  color: #868686;
  margin-bottom: 10px;
  text-decoration: none;
}
.message-heading-new {
  color: #63bead;
  font-weight: bolder;
}


#new_message {
  display: flex;
  align-items: flex-end;
  // margin-bottom: 0px;
}

.message_content {
  flex-grow: 1;
}

#message_content {
  width: 100%;
}

#message_content > textarea {
  height: 20vh;
}
