#tour-guide-wrapper {
  background-color: white;
  margin: 10px 0px 50px 0px;
  padding-bottom: 50px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.wrapper-tour-guide-inner {
  margin: auto;
  width: 90%;
  padding-top: 30px;
  padding-left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-offered-tours {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.offered-tours-content {
  flex: 1 0 auto;
  flex-wrap: wrap;
  padding: 10px;
}

.wrapper-details-link {
  flex: 0 0 auto;
}

#tour-guide-name {
  color: #00a19a;
  font-size: 20px;
  font-family: 'Raleway', regular;
  text-transform: uppercase;
}

#offered-tours-heading {
  color: #00a19a;
}


.btn-secondary {
  max-width: 172px;
  font-size: 13px;
  padding: 10px 15px;
  background-color: #82bf6a;
  color: white;
  border-radius: 2px;
}

.btn-secondary:hover {
  text-decoration: none;
  color: white;
}


.guide-titles {
  font-size: 20px;
  color: #706f6f;
  margin-top: 30px;
}

.tour-guide-text {
  font-size: 13px;
  color: #706f6f;
}

.interest-icon {
  margin-right: 10px;
  text-width: 50px;
  color: #b2b2b2;
}

.tour-image {
  width: 50px;
  border-radius: 50%;
  height: 50px;
}

.guide-image-show {
  margin-top: 30px;
}

.simple-calendar {
  box-shadow: 3px 5px 8px #e6e6e6;
}
