<div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter" style="video: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%)"></div>
        <video autoplay loop class="fillWidth">
            <source src="<%= video_path "Matkot.mp4" %>" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="<%= video_path "Matkot.webm" %>" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="poster hidden">
            <img src="videos/Matkot.jpg" alt="">
        </div>
    </div>
</div>
