<%= render 'video' %>

<div class="banner" url('https://kitt.lewagon.com/placeholder/cities/berlin');">
  <div class="banner-content">
    <h1 id="h1-home-page">FIND A GUIDE, MAKE FRIENDS.</h1>
    <p>explore with a local in small tours at affordable prices.</p>
    <%= render 'shared/searchbar' %>
    <p id="know-more">scroll down to know more</p>
  </div>
</div>
