#calendar{
  margin-top: 100px;
}

.simple-calendar {
  text-align: center;

.calendar-heading {
  padding-top: 20px;
  padding-bottom: 20px;
}

.visit-selector p {
  font-size: 12px;
}

  .calendar-title {
    font-family: "Open Sans", "Helvetica", "sans-serif";
    font-weight: lighter;
    font-size: 18px;
    margin: 40px;
  }

  .one-day {
    font-size: 15px;
    font-weight: bolder;
  }

  .day {}

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {

  }
  .next-month {}
  .current-month {}

  .has-events {}
}

.calendar-heading {
  font-size: 15px;
  padding-bottom: 10px;
  margin-top: 0px;
  color: #63bead;
  background-color: white;
}

.calendar-heading a {
  font-family: "Open Sans", "Helvetica", "sans-serif";
  font-weight: lighter;
  color: #575756;
  font-size: 15px;
}

.calendar-heading a:hover {
  text-decoration: none;
}

.table-striped thead tr th {
  font-family: "Open Sans", "Helvetica", "sans-serif";
  font-weight: lighter;
  font-size: 15px;
  background-color: white;
  text-align: center;
}

.table-striped tbody tr td {
  font-family: "Open Sans", "Helvetica", "sans-serif";
  font-weight: lighter;
  font-size: 6px;
  background-color: white;
  // min-width: 50px;
  // max-width: 60px;
}

.table-striped tbody tr td a:hover {
  text-decoration: none;
}

.selector-active {
  background-color: #63bead;
  color: white;
}

.visit-selector {
  cursor: pointer;
  border-radius: 3px;
  padding: 5px 2px 4px 2px;
}

.visit-selector p {
  margin: 0 0 2px;
}

#button-b {
  width: 100% !important;
}
