<div class="container">
  <div class="tour-guide-description">

    <div class="tour-guide-info">
      <h1>Garret Smith</h1>
      <p>age: 27 years old | Berlin </p>
    </div>

    <div class="tour-guide-interest">
      <h2>Interests</h2>
      <div class="row-icons">
        <div class="col-xs-12 col-sm-4">
          <a href="#"><i class="fa fa-guitar"></i></a>
        </div>
        <div class="col-xs-12 col-sm-4">
          <a href="#"><i class="fa fa-shoe"></i></a>
        </div>
        <div class="col-xs-12 col-sm-4">
          <a href="#"><i class="fa fa-wine"></i></a>
        </div>
      </div>
    </div>

    <div class="tour-guide-about-me">
      <h2>About Me</h2>
      <p>Insert about me section here</p>
    </div>
  </div>

  <div class="offered-tours">
    <div class="tour">
      <img class="activity-image" src="#">
        <div class="tour-body">
          <h3>Tour name</h3>
          <p>Tour description</p>
        </div>
        <div class="tour-details">
          <a href="#" class="btn-treehouse">See more for details</a>
        </div>

    </div>
  </div>

</div>

